@CHARSET "UTF-8";

#back {
	color: white;
}

#go-to-next-button {
	display: block;
}

#srs-buttons {
	display: none;
}

.card-front-text {
	text-align: center;
}

.card-back-text {
	text-align: center;
}